* {
box-sizing: border-box;
}

body {
  margin: 0;
}

header {
  background: green;
  overflow: auto;
  position: sticky; top: 0px;
}

header h1 {
  float: left;
  margin: 0;
  padding: 20px 20px 20px 20px;
}

header nav{
  margin-right: 7%;
}

header nav ul {
  display: inline-block;
  float: right;
  list-style: none;
}

header nav li {
  display: inline-block;
  border: solid 1px black;
  text-align: center;
  padding: 10px 10px;
  background: transparent;
  border-radius: 10px;
  margin: 0px 10px;
}

.about{
  margin: 100px 20% 0px 20%;
}

img.me{
  border-radius: 8px;
  float: left;
  width: 50%;
}

div p{
  float: left;
  padding-left: 10px;
  width: 50%;
}
