<style>
* {
box-sizing: border-box;
}
body{
  background-color: #f4adf3;
}
.main-page{
text-align: center;
padding-top: 125px;
}
.sholom-pic{
height: 150px;
width: auto;
border-radius: 200px;
display: inline-block;
vertical-align: middle;
}
.title{
  display: inline-block;
  padding-left: 25px;
  font-family: 'Abel';
  vertical-align: middle;
  font-size: 25px;
}
.carousel{
position: relative;
width: 15%;
margin: 110px auto 0px auto;
background-color: red;
}
.languages{
overflow: hidden;
position: relative;
width: 100%;
height: 40px;
}
.languages ul{
list-style: none;
position: relative;
width: 100%;
height: 50px;
margin: 0;
padding: 0;
}
.language{
  float: left;
  font-family: 'Josefin Slab', serif;
  font-size: 40px;
  text-align: center;
  width: 100%;
  position: relative;
  height: 50px;
}
</style>
