* {
box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}

header {
  background-color: #ff5722;
  color: #000000;
  overflow: auto;
  position: sticky; top: 0px;
}

header h1 {
  float: left;
  margin: 0;
  padding: 10px 20px 0px 20px;
}

header nav{
  margin-right: 7%;
  float: right;
}

header nav ul {
  display: inline-block;
  list-style: none;
}

header nav li {
  display: inline-block;
  border: solid 1px black;
  text-align: center;
  padding: 5px 10px;
  background: transparent;
  margin: 0px 10px;
}

.content{
  text-align: center;
  margin-top: 75px;
}

.title{
  font-size: 3.2rem;
  line-height: 1.4;
  display: block;
  color: #252a30;
  text-align: center;
}

.languages{
  margin-top: 200px;
}

.languages li{
  display: inline-block;
  margin: 0px 5%;
  font-size: 25px;
}

.about{
  margin: 80px 20% 0px 20%;
}

img.me{
  border-radius: 8px;
  float: left;
  width: 50%;
}

.about p{
  float: left;
  padding-left: 10px;
  width: 50%;
  font-size: 20px;
}

.projects h1{
  font-size: 3.2rem;
  text-align: center;
}

.social-links a{
  overflow: auto;
  height: 100px;
  width: 100px;
  margin: 0px 20px;
}
